*{
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
  animation: fadeIn 7s linear;
}

.startSideName {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.startSideName .text {
  color: #a9b1d6;
  position: relative;
  font-size: 50px;
  font-weight: 600;
}

.startSideName .text.first-text {
  color: #cacaca;
  position: absolute;
  top: 0;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.text.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1e2336;
  border-left: solid 2px #a9b1d6;
  animation: animateText 4s steps(12) infinite;
}

@keyframes animateText {
  40%,
  60% {
    left: 100%;
  }

  0% {
    left: 0%;
  }
}

/* about me side // */

.nameAboutMeSide {
  color: #cacaca;
  text-align: center !important;
  margin-top: 30%;
}

.nameAboutMeSide h1 {
  font-size: 3em;
}

.nameAboutMeSide h2:first-of-type {
  margin-top: 5%;
}

.nameAboutMeSide h2 {
  margin: auto;
}

.marginBottomH2{
    padding-bottom: 10%;
    padding-top: 50px;
}

/* arrow scrollers */

.arrowScroll {
  position: relative;
  height: 4em;
  margin-top: 10%;
}

.arrowScrollers {
  border: solid #cacaca;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrowScrollers:nth-child(2) {
  animation: arrow1 1.5s ease-in-out infinite;
}

.arrowScrollers:nth-child(3) {
  animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}


.textAndImg{
    margin-top: 300px;
    border-left: 2px solid #1c1f01;
}

.theBigShort{
    width: 50vw;
    height: auto;
    margin-top: 5%;
}

/* interessert siden */

.interesertAboutMeSide {
    color: #cacaca;
    text-align: center !important;
    margin-top: 30%;
  }
  
  .interesertAboutMeSide h1 {
    font-size: 3em;
  }
  
  .interesertAboutMeSide h2:first-of-type {
    margin-top: 5%;
  }
  
  .interesertAboutMeSide h2:last-of-type{
      margin-bottom: 10%;
  }
  
  .interesertAboutMeSide h2 {
    margin: auto;
  }

.myCVSide{
    position: relative;
    color: #cacaca;
    left: -23%;
}

.myCVSide h1{
    margin-top: 60%;
    font-size: 3em;
}

.myCVSee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 150%;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    transform: translate();
  }
  100%{
    transform: translate();
  }
}

.myCVSee > * {
    grid-column: span 1;
    grid-row: span 1;
}

.downloadCVSide{
  position: relative;
  color: #cacaca;
  left: -23%;
}

.doneDownload1{
  margin-top: 60%;
  font-size: 3em;
}

.downloadProjectsSide{
  position: relative;
  color: #cacaca;
  left: -23%;
}

.doneDownload2{
  margin-top: 60%;
  font-size: 3em;
}

.myProjectsSide{
  position: absolute !important;
  margin-top: 15%;
  margin-left: 850px;
}


.projectImagesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.projectImages1 {
  --s: 100px; /* stærrelsen på bildet liksom*/
  --b: 2px; /* størrelsen på borderen som kommer rundt*/
  --g: 14px; /* gapet mellom bildet og borderen*/
  --c: #4ECDC4; /*fargen*/


  position: absolute;
  left: -25px;
  border: 1px solid #000;
  background-image: url('/Chapter5/portofolio/photos/bitcoinProjects.jpg');
  background-size: cover;
  filter: grayscale(70%) brightness(50%) contrast(80%);

  /* fra nettet as*/

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.75s;

}

.projectImages2 {

  --s: 100px; /* stærrelsen på bildet liksom*/
  --b: 2px; /* størrelsen på borderen som kommer rundt*/
  --g: 14px; /* gapet mellom bildet og borderen*/
  --c: #4ECDC4; /*fargen*/

  position: absolute;
  left: -145px;
  border: 1px solid #000;
  background-image: url('/Chapter5/portofolio/photos/quizProjects.webp');
  background-size: cover;
  filter: grayscale(70%) brightness(50%) contrast(80%);

    /* fra nettet as*/

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.75s;
}

.projectImages3 {

  --s: 100px; /* stærrelsen på bildet liksom*/
  --b: 2px; /* størrelsen på borderen som kommer rundt*/
  --g: 14px; /* gapet mellom bildet og borderen*/
  --c: #4ECDC4; /*fargen*/

  position: absolute;
  left: 95px;
  border: 1px solid #000;
  background-image: url('/Chapter5/portofolio/photos/spamProjects.webp');
  background-size: cover;
  filter: grayscale(70%) brightness(50%) contrast(80%);

    /* fra nettet as*/

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.75s;
}

.projectImages4 {
  --s: 100px; /* stærrelsen på bildet liksom*/
  --b: 2px; /* størrelsen på borderen som kommer rundt*/
  --g: 14px; /* gapet mellom bildet og borderen*/
  --c: #4ECDC4; /*fargen*/

  position: absolute;
  left: 215px;
  border: 1px solid #000;
  background-image: url('/Chapter5/portofolio/photos/flaksloddProjects.jpg');
  background-size: cover;
  filter: grayscale(70%) brightness(50%) contrast(80%);

    /* fra nettet as*/

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.75s;
}

.projectImages:hover{
  /*nettet */
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);

  /*selv ide*/
  filter: grayscale(0%) brightness(100%) contrast(110%);
}


.centerText{
  color: #cacaca;
}

.hiddenScroll{
  display: none;
}